<a href="https://colab.research.google.com/github/leobgs/newestlesson/blob/python/python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# tipe data Python 

#boolean Menyatakan benar True yang bernilai 1, atau salah False yang bernilai 0
saya= True #bisa juga isi false huruf kapital perhatikan case sensitve
print (type(saya)) 

#string Menyatakan karakter/kalimat bisa berupa huruf angka, dll (diapit tanda " atau ')
leo= "saya leoonardo"
print (type(leo))

#integer menyatakn bilangan bulat
angka= 1220
print(type(angka))

#float menyatakn bilangan koma
bilangan= 3.14
print(type(bilangan))

#hexadecimal menyatakan bilangan dalam format hexa berbasis 16
desy= hex(17)
print(desy)

#complex menyatakan pasangan angka real dan imajiner
plex= 1 + 5j
print(type(plex))

#list data untaian yang menyimpan berbagai tipe data
#tapi isinya tidak bisa diubah gunakan kurung siku []
nardo= ["xyz", 123, 3.14]
print(type(nardo))

#tuple data untaian yang menyimpan berbagai tipe data
#tapi isinya bisa diubah gunakan kurung biasa ()
bagus= ("xyz", 123, 3.14)
print(type(bagus))

#dictionary
kamus= {'nama': 'leonardo', 'anak': 1}
print(type(kamus))

<class 'bool'>
<class 'str'>
<class 'int'>
<class 'float'>
0x11
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

In [ ]:
#lesson1 basic Programming with python

nilai=8

if nilai <= 5:
  print("Nilai sesuai")

else:
  print("Nilai tidak sesuai")

Nilai tidak sesuai