<a href="https://colab.research.google.com/github/leobgs/newestlesson/blob/python/python_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#percabangan adalah cara yang digunakan untuk mengambil keputusan apabla program dihadapkan kondisi tertentu.
# if test kondisi:
# blok peryantaan if:

#percabangan bilangan positif
bil= 8

#percabangan 
if bil > 0:
  print(bil, "bilangan positif.")

#percabangan bilangan positif
bil= -8

#percabangan tidak dieksekusi karena False tidak ada blok else nya
if bil > 0:
  print(bil, "bilangan positif.")

8 bilangan positif.

Studi Kasus : Penjualan Tiket
Perusahaan XYZ bergerak dibidang penjualan tiket bus dengan detail tiket
sebagai berikut :
1. setiap transaksi perlu menginput data pembeli seperti Nama Pembeli,
jumlah tiket yang akan dibeli, no_Hp, dan memilih jurusan sesuai
kategori yang diinginkan.
2. Potongan 10% didapat jika jumlah beli >= 3.
3. Totalharga=(jumlahbeli*harga)-potongan.
4. Data harga tiket sebagai berikut :
Kodejurusan Nama Kota Harga
SBY surabaya 300,000
BL Bali 350,000
LMP lampung 500,000
5. Buatlah program input dan hasil output sesuai perintah diatas
menggunakan Bahasa pemrograman Python. Codingnya ada dibawahnya

In [17]:
#menampilkan menu rute
from tabulate import tabulate
table = [['Kode Jurusan', 'Nama Kota', 'Harga'], ['SBY', 'Surabaya', 300000], ['BL', 'Bali', 350000], ['LMP', 'Lampung', 500000]]
print(tabulate(table))

#variabel inputan 
nama_pembeli= input("Nama Pemesan: ")
no_hape= input("Masukan Nomor Hape anda: ")
jurusan= input("Masukan Kode Jurusan [SBY/BL/LMP]: ")
jumlah_beli= int(input("Masukan Jumlah Beli: "))

#proses
if jurusan == "SBY":
  nama_jurusan = "Surabaya"
  harga = 300000

elif jurusan == "BL":
  nama_jurusan = "Bali"
  harga= 3500000

else :
  nama_jurusan = "Lampung"
  harga= 5000000


#proses potongan 
if jumlah_beli >= 3:
  jumlah_beli * 0.1

else:
  potongan = 0

#harga total
total= harga*jumlah_beli

#hasil output
from tabulate import tabulate
table1 = [['Nama Pemesan','NO.HP', 'Kode Jurusan', 'Nama Kota', 'Pesanan', 'Bayar',], [ nama_pembeli, no_hape, jurusan, nama_jurusan, jumlah_beli, total]]
print(tabulate(table1))

------------  ---------  ------
Kode Jurusan  Nama Kota  Harga
SBY           Surabaya   300000
BL            Bali       350000
LMP           Lampung    500000
------------  ---------  ------
Nama Pemesan: Leonardo
Masukan Nomor Hape anda: 087732278359
Masukan Kode Jurusan [SBY/BL/LMP]: BL
Masukan Jumlah Beli: 7
------------  ------------  ------------  ---------  -------  --------
Nama Pemesan  NO.HP         Kode Jurusan  Nama Kota  Pesanan  Bayar
Leonardo      087732278359  BL            Bali       7        24500000
------------  ------------  ------------  ---------  -------  --------